body {
    font-family: "Poppins", sans-serif;
}
.text {
    font-family: 'Inconsolata', monospace;
    color: 333333;
}
.content {
    display: flex;
    width: 800px;
}
.content-child{
    flex:1;
}
img {
    width: 400px;
}
button {
    background: #333333;
    color: #FFFFFF;
    padding: 12px 24px;
}